<a href="https://colab.research.google.com/github/ultimatexlerion/ClaseSemana02-03/blob/main/Funciones_y_trabajo_con_cadenas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**Funciones de control**

Funciones de Control

Bucles if, ifelse, if anidados

For, while.


En ocasiones los programas fallan y lanzan excepciones, y nesitamos que continue el programa, y capture el error que esta lanzando, esto lo hacemos con el bloque try-except
Por ejemplo:

#**Errores**

Error de sintaxis -----SyntaxError: invalid syntax

In [1]:
Variable="uno"
if Variable is str(Variable):
    print(Variable)

uno

Error de una incorrecta tabulación------- IndentationError: expected an indented block

In [2]:
Variable="uno"
if Variable is str(Variable):
    print(Variable)

uno

Error de no una correcta identificacion de la varible------NameError: name 'uno' is not defined

https://www.clubdetecnologia.net/blog/2017/python-como-se-implementa-una-sentencia-switch-case/

In [ ]:
uno="23"
Variable=uno
if Variable is str(Variable):
    print(Variable)

23

In [ ]:
Variable="uno"
if Variable is str (Variable):
    print(Variable)

uno

Podemos tener una sintaxis correcta, pero esta nos genera un error.

1. División por cero

In [ ]:
ingresos=0
precios=30 /ingresos
print(precios)

ZeroDivisionError: division by zero

Error por tipo de dato incompatible -------TypeError: can only concatenate str (not "int") to str

In [3]:
Var=float(35.4)
Var + 2

#Var=float(35.4)

37.4

##**Comentarios en Python**

In [ ]:
# nos permite una línea comentada
linea="Comentarios"
""" Varias lineas comentadas
fdf
fdfdf
dfdfdf
fdfdfd
fdfdf
"""
print(linea)

#**Manejar Excepciones**

En ocasiones los programas fallan,lanzan excepciones, y necesitamos que continue el programa, y capture el error que esta lanzando, esto lo hacemos con el bloque try-except Por ejemplo:

In [ ]:
valor=34.5
numero_entero=int(valor)
print("El valor entero de {} corresponde a :{}".format(valor,numero_entero))

El valor entero de 34.5 corresponde a :34

In [7]:
valor="34.5"
valor1=float(valor)

try:
  numero_entero=int(valor)#valor1 para que funcione sin entrar a la excepcion
  print("El valor entero de {} corresponde a :{}".format(valor,numero_entero))

except: #si hay un problema corriendo el codigo y realiza lo siguiente
       print("Error, el valor {} no se puede convertir a un entero, por favor digite un valor valido".format(valor))

Error, el valor 34.5 no se puede convertir a un entero, por favor digite un valor valido

Pero si queremos poder capturar la excepcion la vamos a capturar en una variable llamamada err el valor que ingresa se capturo en formato de texto, debemos arrojar el error

In [ ]:
valor1="34.5"
#valor1=float(valor)

try:
  numero_entero=int(valor1)
  print("El valor entero de {} corresponde a :{}".format(valor,numero_entero))

except Exception as err: #si hay un problema corriendo el codigo y realiza lo siguiente
       print("Error, el valor {} no se puede convertir a un entero, por favor digite un valor valido".format(valor))
       print("El mensaje de error es: {} :{}".format(type(err),err))

Error, el valor 34.5 no se puede convertir a un entero, por favor digite un valor valido
El mensaje de error es: <class 'ValueError'> :invalid literal for int() with base 10: '34.5'

**Anexo documentación de Python para el tratamiento de errores**



https://docs.python.org/es/3/tutorial/errors.html

##**Estructuras de datos**

Se utilizan para alamacenar información

**Lista- Tuplas- Diccionarios**

In [ ]:
#Listas encerrada en cuadrante, se dividen por ',' . puede tener numeros y texto

lista=['rio','arroyo','caño',2]
type(lista)

list

In [ ]:
#La dupla esta encerrada por parentesis
tupla=('rio','arroyo','caño',1)
type(tupla)

tuple

In [8]:
#Palabra y significado de la palabra, con indice lo identifica con su valor
diccionario={
                "A": 1,
                "B":4,
                "C":2,
                "D":2
}
type(diccionario)

dict

#**Listas:**
Son **conjuntos** de elementos ordenados donde cada elemento tiene una posición.

ejemplo:
Alumnos=["Daniel","Cindy","Juan","Guillermo","Alexander"]

In [9]:
#Elementos ordeanados en listas.
Alumnos=["Daniel","Cindy","Juan","Guillermo","Alexander","Angelica","Yulieth"] #los elementos son strings, pero podríamos adicionar un número en la lista y no ocurriria nada
print(Alumnos)
print(type(Alumnos))

['Daniel', 'Cindy', 'Juan', 'Guillermo', 'Alexander', 'Angelica', 'Yulieth']
<class 'list'>

Para tener en cuenta
* Accedemos a una lista con [] corchetes
* Todas las listas comienzan con 0
* Se accede en el primer elementos [0]

In [10]:
print(Alumnos[0]) #se llama entre cuadrantes

Daniel

In [49]:

#Convertir texto en listas
texto=("para-que-los-pies-si-tengo-alas-para-volar")
separa=texto.split('-')
separa=texto.replace('-','****** ')
print(texto)
print(separa)

para-que-los-pies-si-tengo-alas-para-volar
para****** que****** los****** pies****** si****** tengo****** alas****** para****** volar

In [13]:
type(texto)

str

In [14]:
type(separa)

list

In [15]:
print(Alumnos)

['Daniel', 'Cindy', 'Juan', 'Guillermo', 'Alexander', 'Angelica', 'Yulieth']

Podemos acceder a un rango de elementos [inicio:final-1:orden]

In [56]:
#Accedemos del primero hasta el 4
print(Alumnos[:5])
type(Alumnos)

['Daniel', 'Cindy', 'Juan', 'Guillermo', 'Alexander']

list

In [ ]:
Alumnos

In [20]:
print(Alumnos[:2:-1])

['Yulieth', 'Angelica', 'Alexander', 'Guillermo']

In [50]:
#Accedemos después del tercer elemento hasta el final
Alumnos
print(Alumnos[3:])

['Guillermo', 'Alexander', 'Angelica', 'Yulieth']

In [51]:
#Accedemos a las últimas posiciones
print(Alumnos[-3:])

['Alexander', 'Angelica', 'Yulieth']

In [52]:
#Para saltarsen elementos [::n] n a n
#en el siguiente ejemplo salta de 3 en 3
print(Alumnos[::2])

['Daniel', 'Juan', 'Alexander', 'Yulieth']

In [61]:
Alumnos
type(Alumnos)
print(Alumnos)

['Daniel', 'Cindy', 'Juan', 'Guillermo', 'Alexander', 'Angelica', 'Yulieth']

In [57]:
print(Alumnos[1::2])#primero sale 1 y despues 2

['Cindy', 'Guillermo', 'Angelica']

In [62]:
print(Alumnos[1::-1]) #salte uno y después devuelvase

['Cindy', 'Daniel']

In [55]:
print(Alumnos[::-1]) #simplemente que me lea la lista al contrarío

['Yulieth', 'Angelica', 'Alexander', 'Guillermo', 'Juan', 'Cindy', 'Daniel']

In [63]:
print(len(Alumnos))#longitud de la lista Alumnos

7

In [152]:
Alumnos.append("Fabian")#adicionamos un elemento más a la lista añadieandolos al final
print(Alumnos)

['Camila', 'Antonio', 'Camila', 'Cindy', 'Mike', 'Rafael', 'Fabian']

In [153]:
ListaX2=Alumnos*2
print(ListaX2)

['Camila', 'Antonio', 'Camila', 'Cindy', 'Mike', 'Rafael', 'Fabian', 'Camila', 'Antonio', 'Camila', 'Cindy', 'Mike', 'Rafael', 'Fabian']

In [154]:
nombre = "Mike"
nombre2veces=nombre*2
print(nombre2veces)

MikeMike

In [155]:
#Crear una lista nueva concatenandolas añadiendolas al principio

nuevos=['Mike','Jose', "Fabian"]
nuevalista=nuevos+Alumnos
print(nuevalista)

['Mike', 'Jose', 'Fabian', 'Camila', 'Antonio', 'Camila', 'Cindy', 'Mike', 'Rafael', 'Fabian']

In [156]:
# Modificar elementos de una lista
Alumnos[0]="Camila"
print(Alumnos)

['Camila', 'Antonio', 'Camila', 'Cindy', 'Mike', 'Rafael', 'Fabian']

In [157]:
#Podemos cambiar el contenido de la lista desde una posicion inicial y reemplazarlos.. y adicionar sin importar de que tamaño fue creada la losta
Alumnos

['Camila', 'Antonio', 'Camila', 'Cindy', 'Mike', 'Rafael', 'Fabian']

In [162]:
Alumnos[4:]=["Mike","Rafael","Antonio","Alejandra","Arturo", "Fabian"]
print(Alumnos)

['Camila', 'Antonio', 'Camila', 'Cindy', 'Mike', 'Rafael', 'Antonio', 'Alejandra', 'Arturo', 'Fabian']

In [163]:
# Queremos saber que un alumno hace parte de la lista, podemos utilizar el parametro "in"
evaluar="Fabian" in Alumnos
print(evaluar)

True

In [164]:
#Necesito conocer la posición de Guillermo en la lista
print(Alumnos)
posicion1=(Alumnos.index("Rafael") )
print(posicion1)
posicion = f"La posicion es: {posicion1}"
print(posicion)

['Camila', 'Antonio', 'Camila', 'Cindy', 'Mike', 'Rafael', 'Antonio', 'Alejandra', 'Arturo', 'Fabian']
5
La posicion es: 5

In [165]:
Alumnos

['Camila',
 'Antonio',
 'Camila',
 'Cindy',
 'Mike',
 'Rafael',
 'Antonio',
 'Alejandra',
 'Arturo',
 'Fabian']

In [166]:
# generar lista de nombre que se repita Fabian 5 veces,
# Luego utilizar el parametro pop e index para eliminarlos a todos.
nuevos=['Fabian']
listanuevos=nuevos+Alumnos
print(listanuevos)
nombre = "Fabian "
nombre2veces=nombre*5
separa=nombre.replace('-',' ')
print(separa *5)

['Fabian', 'Camila', 'Antonio', 'Camila', 'Cindy', 'Mike', 'Rafael', 'Antonio', 'Alejandra', 'Arturo', 'Fabian']
Fabian Fabian Fabian Fabian Fabian

In [96]:
#Eliminar un elemento, teniendo la posición del elemento
Alumnos.pop(3)
print(Alumnos)

['Camila', 'Cindy', 'Juan', 'Mike', 'Rafael', 'Antonio', 'Alejandra', 'Arturo']

In [99]:
#si queremos eliminar un elemento sin saber e que posicion esta
Alumnos.pop(Alumnos.index("Arturo"))
print(Alumnos)

['Camila', 'Cindy', 'Mike', 'Rafael', 'Antonio', 'Alejandra']

In [102]:
#las listas se pueden ordenar listas de texto
Alumnos.sort()
print(Alumnos)

['Alejandra', 'Antonio', 'Camila', 'Cindy', 'Mike', 'Rafael']

In [103]:
#Podemos ordenar listas de numeros

numeros=[12,2,1,4,56,76]
numeros.sort(reverse=True)
print(numeros)

[76, 56, 12, 4, 2, 1]

In [104]:
#generar lista de números
aleatorios=(list(range(20)))
print(aleatorios)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [167]:
#podemos acceder a los string , como listas
print("Ingrese la serie a convertir:")
serie=input()
serie2=serie[::-1]
resultado=0
n=0
longitud=len(serie2)
for n in range(longitud):
   base=int((serie2[n]))
   if base > 0:
      binario=(2**(n))
      resultado=resultado+binario
print(resultado)
type (resultado)

Ingrese la serie a convertir:
588
7

int

In [170]:
binario="10111110001" #Para imprimir al revez
bianrioinverso=binario[::-1]
print(bianrioinverso)

10001111101

##**Tuplas**
Son versiones de las listas que no se pueden modificar

In [171]:
ciudades=("Bogotá","Ibague","Sogamoso","Yopal") # las tuplas comienzan en 1 no como las listas que comienzan desde 0
type(ciudades)

tuple

In [172]:
type(ciudades)

tuple

In [173]:
print(ciudades)

('Bogotá', 'Ibague', 'Sogamoso', 'Yopal')

In [174]:
acceder=ciudades[:2] #accede desde el item 2
print(acceder)

('Bogotá', 'Ibague')

In [176]:
acceder=ciudades[0] #se imprie el item 2
print(acceder)

Bogotá

In [177]:
#Podemos buscar un valor en la tupla
"Yopal" in ciudades

True

In [178]:
#Podemos contar cuantas veces se presenta un valor
calculos=(1,34,54,34,1,28,34,1)
calculos.count(1)

3

In [180]:
#las tuplas son inmutable no se modifican en cambio las listas si.
#calculos[0]= 5
calculos[0] * 5
print(calculos)

(1, 34, 54, 34, 1, 28, 34, 1)

In [181]:
Alumnos

['Camila',
 'Antonio',
 'Camila',
 'Cindy',
 'Mike',
 'Rafael',
 'Antonio',
 'Alejandra',
 'Arturo',
 'Fabian']

In [184]:
#Esta es una lista
Alumnos[0]=5
print(Alumnos)

[5, 'Antonio', 'Camila', 'Cindy', 'Mike', 'Rafael', 'Antonio', 'Alejandra', 'Arturo', 'Fabian']

In [185]:
series1=(23,23) # imprime series
print(series1)

(23, 23)

In [186]:
type(series1)

tuple

In [187]:
series1=series1*2 # se puede multiplicar esa dupla
print(series1)

(23, 23, 23, 23)

In [188]:
series2=(3,5)
total=series1+series2 # se puede sumar una serie
print(total)

(23, 23, 23, 23, 3, 5)

#Diccionarios
Un diccionario en Python es una colección de elementos, donde cada uno tiene una llave key y un valor value. Los diccionarios se pueden crear con llaves {} separando con una coma cada par key: value.

In [191]:
#Vamos a realizar un diccionario por la cantidad de estudiantes por carreras

estudiantes_carreras={
                "Enfermeria": 1,
                "Ingenieria":4,
                "Matemáticas":2,
                "Ed.Fisica":2
}
print(estudiantes_carreras)

{'Enfermeria': 1, 'Ingenieria': 4, 'Matemáticas': 2, 'Ed.Fisica': 2}

In [ ]:
#Agregando elementos
estudiantes_carreras["Biologo"]=4
print(estudiantes_carreras)

{'Enfermeria': 1, 'Ingenieria': 4, 'Matemáticas': 2, 'Ed.Fisica': 2, 'Biologo': 4}

In [ ]:
print(type(estudiantes_carreras))

In [ ]:
#Podemos ver las llaves del diciconario
llaves=(estudiantes_carreras.keys())
print(llaves)

In [ ]:
#para acceder a las llaves tenemos que convertirlas en lista
accederllaves=list(estudiantes_carreras.keys())
#type(accederllaves)
accediendo=accederllaves[0]
print(accediendo)

In [ ]:
#Para acceder a los elementos de un diccionario
elemento=estudiantes_carreras["Ingenieria"]
print(elemento)

In [ ]:
#Para acceder a los elementos que no existen de un diccionario - genera error
elemento=estudiantes_carreras["Arquitecto"]
print(elemento)

In [ ]:
#conocer los valores de un diccionario
valores=estudiantes_carreras.values()
print(valores)

In [ ]:
#podemos si un elemento existe en el diccionario
"Ingenieria" in estudiantes_carreras
#"Arquitectura"in estudiantes_carreras

In [ ]:
#Podemos utilizar la funcion pop para eliminar una clave del diccionario
estudiantes_actuales=estudiantes_carreras.pop("Matemáticas")
print("estudiantes que esta en la posición {}".format(estudiantes_actuales))
print(estudiantes_carreras)

In [ ]:
#podemos agregar una lista en otra
viajes=[
        ["Bogota","San Andres","Armenia"],
        ["Bogota","Cartagena"],
        ["Bogota","Valledupar"]
      ]
print(viajes)

In [ ]:
type(viajes)

In [ ]:
print(viajes[1][1])

In [ ]:
#Trabajando diccionarios con tuplas
viajes_completos={
                "Bogota":("Cartagena","San Andres","Valledupar"),
                "San Andres":("Bogota","Valledupar"),
                "Cartagena":("Bogota")
}
print(viajes_completos["Bogota"])

In [ ]:
type(viajes_completos)

In [ ]:
viajes_completos={"Bogota":("Tunja","Duitama")}
print(viajes_completos)

In [ ]:
#listas con diccionarios

listascondicc=[
               {"origen":"Bogotá", "destino":"Cartagena"},
               {"origen":"San Andres","destino":"Bogota"}
]
listascondicc

In [ ]:
lista=(listascondicc[0])
print(lista)

In [ ]:
elemento=lista['origen']
print(elemento)